.avatar-image {
  background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
  background-size: cover;
}

.example-spacer {
  flex: 1 1 auto;
}

.padded-content * {
  margin-right: 10em;
}

.repo-card {
  width: 60%;
  margin: 0 auto;
  margin-top: 1em;
}
