.avatar-image {
  background-image: url('https://github.githubassets.com/images/modules/logos_page/GitHub-Mark.png');
  background-size: cover;
}

.example-spacer {
  flex: 1 1 auto;
}

.padded-content * {
  margin-right: 10em;
}

.repo-card {
  width: 60%;
  margin: 0 auto;
  margin-top: 1em;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: stretch;
}

.button-bar {
  display: flex;
  align-items: center;
  direction: row;
}

.green {
  color: green;
}

.yellow {
  color: yellow;
  font-size: 1.5em;
}

.red {
  color: red;
}

.changes {
  background-color: #3f51b5;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 5px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  display: flex;
  width: 25vw;
  flex-direction: row;
  justify-content: space-evenly;
  align-content: center;
}

.changes > .changes-col > span {
  color: white;
}

.changes-col {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-content: stretch;
}

@media (max-width: 850px) {
  .container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .changes {
    width: 50vw;
  }

  .button-bar {
    display: flex;
    direction: row;
    justify-content: space-around;
    align-content: center;
  }
}
