<mat-card class="repo-card">
  <div class="container">
    <div class="flex-col">
      <mat-card-header>
        <div mat-card-avatar class="avatar-image"></div>
        <mat-card-title
          ><a [href]="repo.url">{{ repo.repo_name }}</a></mat-card-title
        >
        <mat-card-subtitle>
          <i
            *ngIf="repo.language === 'JavaScript'"
            class="devicon-javascript-plain colored"
          ></i>
          <i
            *ngIf="repo.language === 'TypeScript'"
            class="devicon-typescript-plain colored"
          ></i>
          <i
            *ngIf="repo.language === 'Java'"
            class="devicon-java-plain colored"
          ></i>
          <i
            *ngIf="repo.language === 'CSS'"
            class="devicon-angularjs-plain colored"
          ></i>
          <i
            *ngIf="repo.language === 'React'"
            class="devicon-react-original colored"
          ></i>
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
        <p>{{ repo.description }}</p>
      </mat-card-content>
      <mat-card-actions style="margin: 0 auto;">
        <div class="row" style="margin-bottom: 1em;">
          <div class="button-bar">
            <button
              mat-raised-button
              color="primary"
              (click)="routeTo('/fork')"
              [style.margin-right]="'1em'"
            >
              <fa name="code-fork" [style.margin-right]="'0.5em'"></fa>Fork
              Project
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="routeTo('/star')"
              [style.margin-right]="'1em'"
            >
              <fa name="star" [style.margin-right]="'0.5em'"></fa>Star Project
            </button>
            <button
              mat-raised-button
              color="primary"
              (click)="toggleShowClone()"
              [style.margin-right]="'1em'"
            >
              <fa name="copy" [style.margin-right]="'0.5em'"></fa>Clone Project
            </button>
          </div>
        </div>
        <div class="row" *ngIf="showClone">
          <div class="col-md-12">
            <mat-form-field [style.max-width]="'5em'">
              <mat-select placeholder="clone" [(value)]="cloneType">
                <mat-option value="ssh">ssh</mat-option>
                <mat-option value="https">https</mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field style="min-width: 25em !important">
              <input matInput [value]="getValue()" />
            </mat-form-field>
          </div>
        </div>
      </mat-card-actions>
    </div>
    <div class="flex-col">
      <mat-card-header>
        <div
          mat-card-avatar
          [ngStyle]="{
            'background-image':
              'url(' + appendImage(repo.last_update.author.avatar_url) + ')'
          }"
          style="background-size: cover"
          (click)="routeTo('/profile')"
        ></div>
        <mat-card-title
          ><a [href]="repo.last_update.url">last commit</a></mat-card-title
        >
        <mat-card-subtitle
          ><p>
            {{ timeSince(repo.last_update.timestamp) }}<br />{{
              repo.last_update.message
            }}
          </p></mat-card-subtitle
        >
      </mat-card-header>
      <mat-card-content style="margin-bottom: 0.3em;"><br /></mat-card-content>
      <div class="changes">
        <div class="changes-col">
          <fa name="plus" class="green"></fa>
          <span>{{ repo.last_update.changes.added.length }} files added</span>
        </div>

        <div class="changes-col">
          <i class="material-icons yellow"> swap_calls </i>
          <span
            >{{ repo.last_update.changes.modified.length }} files changed</span
          >
        </div>

        <div class="changes-col">
          <fa name="minus" class="red"></fa>
          <span
            >{{ repo.last_update.changes.removed.length }} files removed</span
          >
        </div>
      </div>
    </div>
  </div>
</mat-card>
