<mat-card class="repo-card">
  <mat-card-header>
    <div mat-card-avatar class="avatar-image"></div>
    <mat-card-title><a [href]="repo.url">{{repo.repo_name}}</a></mat-card-title>
    <mat-card-subtitle>{{repo.language}}</mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <p>{{repo.description}}</p>
  </mat-card-content>
  <mat-card-actions style="margin: 0 auto;">
    <div class="row" style="margin-bottom: 1em;">
      <div class="col-md-6">
        <button mat-raised-button color="primary" (click)="routeTo('/fork')" [style.margin-right]="'1em'">
          <fa name="code-fork" [style.margin-right]="'0.5em'"></fa>Fork Project
        </button>
        <button mat-raised-button color="primary" (click)="routeTo('/star')" [style.margin-right]="'1em'">
          <fa name="star" [style.margin-right]="'0.5em'"></fa>Star Project
        </button>
        <button mat-raised-button color="primary" (click)="toggleShowClone()" [style.margin-right]="'1em'">
          <fa name="copy" [style.margin-right]="'0.5em'"></fa>Clone Project
        </button>
      </div>
      <div class="col-md-6"></div>
    </div>
    <div class="row" *ngIf="showClone">
      <div class="col-lg-6">
        <mat-form-field [style.max-width]="'5em'">
          <mat-select placeholder="clone" [(value)]="cloneType">
            <mat-option value="ssh">ssh</mat-option>
            <mat-option value="https">https</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field style="min-width: 25em !important">
          <input matInput [value]="getValue()">
        </mat-form-field>
      </div>
    </div>
  </mat-card-actions>
</mat-card>
