<mat-card style="margin-top: 1em">
  <h2 style="text-align:center">Work Experience</h2>
  <mat-vertical-stepper>
    <ng-template matStepperIcon="number">
      <div mat-card-avatar class="job-logo fidelity"></div>
    </ng-template>
    <ng-template matStepperIcon="edit">
      <div mat-card-avatar class="job-logo fidelity"></div>
    </ng-template>
    <mat-step label="Jan-May 2019">
      <h3 class="job-title">
        Software Engineering Co-Op @ Fidelity Investments
      </h3>
      <ul>
        <li>
          <p>
            Took part in daily scrum meetings, and participated in agile rituals
            with a team of engineers, and product owners.
          </p>
        </li>
        <li>
          <p>
            Used a variety of technology stacks to create the best solution
            using APIs, MicroServices and Web Applications.
          </p>
        </li>
        <li>
          <p>
            Maintained currently used applications through unit-testing, and
            routine bug fixing/optimization.
          </p>
        </li>
        <li>
          <p>
            Assisted in my business unit's effort to make migrating to the cloud
            a more set-in-stone process through the creation of better
            documentation alongsize more automated cloud deployment processes.
          </p>
        </li>
      </ul>
    </mat-step>
    <mat-step label="May-Aug 2018">
      <h3 class="job-title">
        Software Engineering Intern @ Fidelity Investments
      </h3>
      <ul>
        <li>
          <p>
            Took part in daily stand-up meetings, and learned agile
            project-management/software development.
          </p>
        </li>
        <li>
          <p>
            Used a variety of both technology stacks and intra-personal skills
            to find solutions to problems in my business group.
          </p>
        </li>
        <li>
          <p>
            Maintained currently used generator tools with a refactor from ES5
            to ES6 JavaScript, while using the git-flow version-control
            strategy.
          </p>
        </li>
        <li>
          <p>
            Attended AWSome day 2018 in Boston to get a better understanding of
            the elastic cloud provided by Amazon Web Services, as well as the
            impact it can have on a company of this size.
          </p>
        </li>
      </ul>
    </mat-step>
    <mat-step label="May-Aug 2017">
      <h3 class="job-title">
        Systems-Engineering Intern @ Fidelity Investments
      </h3>
      <ul>
        <li>
          <p>
            Performed routine maintenence on global video confrencing systems,
            as well as assisted on new installations.
          </p>
        </li>
        <li>
          <p>
            Wrote a program in Java to simplify video confrence room checks by
            logging all of the room conditions gathered in the checks
            automatically in .csv format.
          </p>
        </li>
      </ul>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>
