<div class="container">
  <mat-card class="primary">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 img-container">
        <img class="rounded" src="/assets/images/uptonm.jpeg" alt="github" />
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row" [style.margin-top]="'0.5em'">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <mat-card-title>Mike Upton</mat-card-title>
      </div>
      <div class="col-md-4"></div>
    </div>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <mat-card-subtitle>Aspiring Full-Stack Web Developer</mat-card-subtitle>
      </div>
      <div class="col-md-4"></div>
    </div>
  </mat-card>
  <app-work-experience></app-work-experience>
  <app-education></app-education>
</div>
