<mat-card class="primary">
  <h2 style="text-align:center">Education</h2>
  <mat-vertical-stepper
    style="background-color: transparent; color: white !important;"
  >
    <ng-template matStepperIcon="number">
      <div mat-card-avatar class="job-logo wentworth"></div>
    </ng-template>
    <ng-template matStepperIcon="edit">
      <div mat-card-avatar class="job-logo wentworth"></div>
    </ng-template>

    <mat-step label="2016-2020">
      <h3>Wentworth Institute of Technology</h3>
      <p>Batchelors of Science - Computer Science</p>
    </mat-step>
  </mat-vertical-stepper>
</mat-card>
